:root {
  --background-first: #f8fafc;
  --white: #ffffff;
  --dark-grey: #909eb2;
  --border-grey: #0000001a;
  --input-grey: #eff3f8;
  --shadow-color: #00000029;
  --title-color: #111725;
  --orange: #ef8100;
  --blue: #0077ef;
  --yellow: #efca00;
  --black: #000000;
  --button-color: #12efb3;
  --dark-purple: #6500ef;
  --purple: #c100ef;
  --pink: #ef1249;
}
