.container-list {
  height: 100%;
  width: 216px;
  padding: 16px;
}

.header-menu-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.header-menu-list-icon {
  cursor: pointer;
}
